*{
  padding: 0px;
  box-sizing: border-box;
    margin: 0px;
}
body{
    overflow-x: hidden;
    max-width: 1280px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
    /* background-color: aquamarine; */
}
.ul_list{
    display: flex;
}

li{
    list-style: none;
    width: 47px;
    height: 26px;
    font: normal normal 600 19px/26px Segoe UI;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.navli{
    margin-left: 55px;
    width: 47px;
    height: 26px;
    font: normal normal 600 19px/26px Segoe UI;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.logo img{
margin-top: 31px;
margin-left: 558px;
}
nav ul{
    width: 781px;
    height: 26px;
    /* background-color: bisque; */
    margin-left: 249px;
    margin-top: 30px;
    
}
/* navend css */
hr{
    /* width: 1718px; */
height: 3px;
border: 1px solid #707070;
opacity: 1;
margin-top: 16px;
background-color: #707070;
}
.first_section{
    margin-left: 121px;
    display: flex;
}
.first_heading{
    width: 548px;
    height: 108px;
    font-size: 40px;
    font: normal normal 900 40px/54px Nunito Sans;
    margin-top: 97.08px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.first_para{
    width: 520px;
    height: 120px;
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
font: normal normal normal 18px/24px Nunito Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.first_section img{
    width: 509px;
height: 518px;
margin-left: 65px;
}
.button{
    margin-top: 79px;
    width: 247px;
    font-size: 23px ;
    padding: 17px 50px 17px 50px;
    height: 65;
    text-align: left;
    font: normal normal 600 23px/31px Nunito Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #1492E6 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 33px;
    opacity: 1;
}

.heading_of_secondsection{
    width: 888px;
    height: 47px;

    text-align: left;
    margin-left: 196px;
    margin-top: 204px;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.container{
    display: flex;
    margin-left: 138px;
    margin-top: 60px;
}
.card1{
    width: 308px;
height: 320px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 18px;
opacity: 1;
margin-left: 40px;

}

.second_heading{
    margin-top: 38px;
    width: 190px;
    height: 24px;
    font-size: 18px;
    margin-left: 59px;
}
.second_para {
    margin-left: 19px;
    margin-top: 18px;
    width: 275px;
    height: 192px;
}

/* second section css end here */
.third_section{
    background: #F8FAFC 0% 0% no-repeat padding-box;
}
.third_main_heading{
    margin-top: 186px;
    margin-left: 196px;
    text-align: left;
font: normal normal bold 20px/45px Nunito Sans;
color: #000000;
}
.third_container{
    display: flex;
    margin-top: 111px;
    margin-left: 113px;
}

/* .small_container img{
    width: 187px;
    height: 181px;

} */
.small_container{
    margin: 35px;
}
.small_container h1{
    width: 190px;
    height: 24px;
    text-align: center;
font: normal normal bold 18px/24px Nunito Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
margin-top: 41px;
font-size: 18px;
}
.small_container p{
 margin-top: 16px;
width: 328px;
height: 168px;
/* text-align: left; */
font: normal normal normal 18px/24px Nunito Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

/* third css has been ended */

.fourth_main_heading{
    margin-top: 138px;
    margin-left: 196px;
    width: 888px;
    height: 47px;
    text-align: left;
font: normal normal bold 18px/45px Nunito Sans;
color: #000000;
}

.alignmemt_started{
    margin-left: 105px;
    margin-top: 86px;
}
.left_align h1{
    margin-left: 39px;
    margin-top: 26px;
    width: 252px;
    height: 32px;
    text-align: left;
font: normal normal bold 24px/32px Nunito Sans;
letter-spacing: 0px;
color: #000000;
font-size: 24px;
}
.outerpara{
    width: 644px;
    height: 56px;
    margin: 14px;
    letter-spacing: 0px;
color: #000000;
opacity: 1;
    font: normal normal normal 18px/28px Nunito Sans;
}

.button2{
    margin-top: 22px;
    width: 247px;
    font-size: 23px ;
    padding: 17px 50px 17px 50px;
    height: 65;
    text-align: left;
    font: normal normal 600 23px/31px Nunito Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #1492E6 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 33px;
    opacity: 1;
}

#main_rightalign{
    margin-left: 747px;
    margin-right: 62px;
}
.right_align img{
    width: 62px;
    height: 62px;
    /* background: transparent url('rightalign.png') 0% 0% no-repeat padding-box; */
}
.right_align h1{
    text-align: left;
    font: normal normal bold 24px/32px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    font-size: 24px;
    margin-top: 15px;
    margin-left: 39px;
}
.rightouterpara{
    margin-top: 12px;
}

/* 4th section css end */

.fivth_heading{
    margin-top: 189px;
    margin-left: 456px;
    width: 368px;
height: 47px;
text-align: left;
font: normal normal bold 18px Nunito Sans;
letter-spacing: 0px;
color: #000000;
}

.fifth_main_card{
    margin-left: 59px;
    margin-top: 76px;
    width: 1097px;
height: 363px;
background: #F8FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 16px 48px #00000029;
border-radius: 42px;
opacity: 1;
}
.fifth_flex img{
    width: 64px;
    height: 63px;
    margin-left: 102px;
    margin-top: 39px;
}
.fifth_flex h1{
    margin-left: 13px;
    margin-top: 53px;
    width: 275px;
    height: 34px;
    font-size: 20px;
}
.main_card{
    margin-left: 50px;
    margin-top: 64px;
}
.card1{
    width: 285px;
height: 263px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 16px 48px #00000029;
border-radius: 30px;
opacity: 1;
}

.starwithman{
    margin-top: 28px;
    margin-left: 31px;
    width: 42px;
    height: 43px;
}
.star{
    width: 14px;
    height: 14px;
    margin-top: 38px;
}
.card1>p{
    margin-top: 31px;
    padding: 2px;
    margin-left: 10px;
    margin-bottom: 35px;
    margin-right: 21px;
    font: normal normal normal 13px/18px Nunito Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

/* 5th section css end */

.fourth_main_{
    margin-top: 298px;
    margin-left: 196px;
    width: 888px;
    height: 47px;
    text-align: left;
font: normal normal bold 18px/45px Nunito Sans;
color: #000000;
}
.raingers{
    margin-left: 188px;
    margin-top: 150px;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.darling img{
    width: 185px;
    height: 58px;
}
.darling{
    margin: 60px;
}
.footer{
    margin-top: 189px;
    width: 1280px;
height: 369px;
background: #000000 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}
.footer>p{
    font-size: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 288px;
}